version: "3.9"
services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "15673:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  auth-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"

  booking-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: booking
      POSTGRES_PASSWORD: booking
      POSTGRES_DB: bookingdb
    ports:
      - "5434:5432"

  marketplace-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: market
      POSTGRES_PASSWORD: market
      POSTGRES_DB: marketdb
    ports:
      - "5435:5432"

  order-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: orders
      POSTGRES_PASSWORD: orders
      POSTGRES_DB: orderdb
    ports:
      - "5436:5432"

  exam-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: exam
      POSTGRES_PASSWORD: exam
      POSTGRES_DB: examdb
    ports:
      - "5437:5432"

  notification-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: note
      POSTGRES_PASSWORD: note
      POSTGRES_DB: notificationdb
    ports:
      - "5438:5432"

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: default
    depends_on:
      - auth-service
      - booking-service
      - marketplace-service
      - order-service
      - exam-service
      - notification-service
      - iot-service

  auth-service:
    build: ./auth-service
    ports:
      - "8081:8081"
    depends_on:
      - auth-db
      - rabbitmq

  booking-service:
    build: ./booking-service
    ports:
      - "8082:8082"
    depends_on:
      - booking-db
      - rabbitmq

  marketplace-service:
    build: ./marketplace-service
    ports:
      - "8083:8083"
    depends_on:
      - marketplace-db
      - rabbitmq

  order-service:
    build: ./order-service
    ports:
      - "8084:8084"
    depends_on:
      - order-db
      - rabbitmq
      - marketplace-service

  exam-service:
    build: ./exam-service
    ports:
      - "8085:8085"
    depends_on:
      - exam-db
      - rabbitmq
      - notification-service

  notification-service:
    build: ./notification-service
    ports:
      - "8086:8086"
    depends_on:
      - notification-db
      - rabbitmq

  iot-service:
    build: ./iot-service
    ports:
      - "8087:8087"