server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=2
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=2
        - id: course-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/courses/**
          filters:
            - StripPrefix=2
        - id: booking-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/bookings/**
          filters:
            - StripPrefix=2
        - id: resource-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/resources/**
          filters:
            - StripPrefix=2
        - id: resource-types-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/resource-types/**
          filters:
            - StripPrefix=2
        - id: marketplace-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/marketplace/**
          filters:
            - StripPrefix=2
        - id: orders-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=2
        - id: products-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/products/**
          filters:
            - StripPrefix=2
        - id: exam-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/exams/**
          filters:
            - StripPrefix=2
        - id: notification-service
          uri: http://localhost:8088
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=2
        - id: dashboard-service
          uri: http://localhost:8089
          predicates:
            - Path=/api/dashboard/**
          filters:
            - StripPrefix=2
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        cors-configurations:
          '[/**]':
            allow-credentials: true
            allowed-origins:
              - "http://localhost:3000"
              - "http://localhost:3001"
              - "http://localhost:3002"
              - "http://localhost:3003"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowed-headers:
              - Content-Type
              - Authorization
              - X-Requested-With
            max-age: 3600

security:
  jwt:
    secret: ${JWT_SECRET:changeme-smart-campus-secret}
    expiration-minutes: 120

