server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres-auth:5432/authdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.smartcampus.auth: DEBUG

security:
  jwt:
    secret: ${JWT_SECRET:changeme-smart-campus-secret}
    expiration-minutes: 120

